@use "./variables";
//gotta use variable.________ in order to use variables here

// import our fonts for use

// import jakarta sans regular
@font-face {
    font-family: "Jakarta Sans";
    src: url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff'),
	    url('../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Regular.ttf'),
	    url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff2');
    font-weight: normal;
}

// import jakarta sans bold
@font-face {
    font-family: "Jakarta Sans";
    src: url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff'),
	    url('../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Bold.ttf'),
	    url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff2');
    font-weight: bold;
}

// importing our heading font - young serif